body {
  background-color: #aaaaaa;
  color: black;
}

.App-content {
  /*display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;*/
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: masonry;
  gap: 8px 5px;
  align-items: center;
  margin: 20px 0;
  text-align: center;
}

.App-content div img{
  max-width: 300px;
  max-height: 450px;
}

.cabecera {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.posterTitle{
  position: absolute;
  /* border: 1px solid black; */
  background-color: rgba(100, 100, 100, 0.281);
  color: rgb(223, 219, 219);
  padding: 0px 3px 0px 3px;
  margin: 0 5px 0 5px;
  width: 200px;
}

.App-logo {
  height: 100px !important;
  width: 100px !important;
}

form input{
  width: 30%;
  height: 25px;
  border-radius: 3px;
  padding-left: 7px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.separador{
  width: 100%;
}

.detalles{
  width: 300px;
  margin-left: 20px;
}

.detalles a{
  text-decoration:none;
  color: black;
}

.posterDetalles{
  display: flex;
  flex-flow: row wrap;
  padding-left: 30%;
}

.categorias {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  cursor: default;
}
.categorias h4{
  padding: 0 5px 0 5px;
  border-right: 1px solid black;
  cursor: pointer;
}

.categorias h4:last-child {
  border: 0px;
}